In [1]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/Users/jamesfay/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('kc_house_data.csv')

### Deal with Null Values

**Replace Null Values with Median WF value for the zipcode**

In [3]:
df['waterfront'] = df['waterfront'].fillna(df.groupby('zipcode')['waterfront'].transform('median'))

In [4]:
df['waterfront'].value_counts()

0.0    21451
1.0      146
Name: waterfront, dtype: int64

**Merge Year Built & Year Renovated into 1 Column**

In [5]:
df['yr_of_last_update'] = df['yr_renovated']
df['yr_of_last_update'].fillna(value=df['yr_built'], inplace=True)
df['yr_of_last_update'].replace(to_replace=0, value=df['yr_built'], inplace=True)
df['yr_of_last_update'] = df['yr_of_last_update'].astype(int)

**Replace sqft_basement ?s with median by zipcode**

In [6]:
#replace sqft_basement '?' with nas
df['sqft_basement'] = df['sqft_basement'].replace('?', np.nan)

#Convert to int
df['sqft_basement'] = df['sqft_basement'].astype(float)

In [7]:
#Replace Nas with median values by zipcode
df['sqft_basement'] = df['sqft_basement'].fillna(df.groupby('zipcode')['sqft_basement'].transform('median'))

In [8]:
# Replace null view values
df['view'] = df['view'].fillna(df.groupby('zipcode')['view'].transform('median'))

## Create Season Bins

In [9]:
#Using Northern Meterological Seasons
#https://www.timeanddate.com/calendar/aboutseasons.html
df['date'] = pd.to_datetime(df['date'])
df['season_sold'] = df['date'].apply(lambda x: 'Spring' if (3 <= x.month <= 5) else 'Summer' if (6 <= x.month <= 8) else 'Fall' if (9 <= x.month <= 11) else 'Winter')

## Create Above/Below Ratio

In [10]:
df['below_ground_ratio'] =  df['sqft_basement'] / df['sqft_above']

## Create Log of Lot Size

In [11]:
log_lot_col = np.log(df['sqft_lot'])
df.insert(loc=6, column='log_lot', value=log_lot_col)

## Remove Date, Above, Basement

In [12]:
df = df.drop(['date', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated'], axis=1)

## Remove Bedrooms Outlier

In [13]:
to_drop = df.loc[(df['bedrooms'] == 33)]
df.drop(to_drop.index, axis = 0, inplace = True)
df.shape

(21596, 20)

## Remove Houses Over 1 Million or Below 100 Thousand

In [14]:
to_drop = df.loc[(df['price'] < 100000)]
df.drop(to_drop.index, axis = 0, inplace = True)
to_drop = df.loc[(df['price'] > 2000000)]
df.drop(to_drop.index, axis = 0, inplace = True)
df.shape

(21374, 20)

## Change Price Units to Hundreds of Thousands

In [15]:
df['price_100k'] = df['price'] / 100000

## Create is_top_school_district

In [16]:
df.head()

,id,price,bedrooms,bathrooms,sqft_living,log_lot,sqft_lot,floors,waterfront,view,...,grade,zipcode,lat,long,sqft_living15,sqft_lot15,yr_of_last_update,season_sold,below_ground_ratio,price_100k
0,7129300520,221900.0,3,1.00,1180,8.639411,5650,1.0,0.0,0.0,...,7,98178,47.5112,-122.257,1340,5650,1955,Fall,0.000000,2.219
1,6414100192,538000.0,3,2.25,2570,8.887653,7242,2.0,0.0,0.0,...,7,98125,47.7210,-122.319,1690,7639,1991,Winter,0.184332,5.380
2,5631500400,180000.0,2,1.00,770,9.210340,10000,1.0,0.0,0.0,...,6,98028,47.7379,-122.233,2720,8062,1933,Winter,0.000000,1.800
3,2487200875,604000.0,4,3.00,1960,8.517193,5000,1.0,0.0,0.0,...,7,98136,47.5208,-122.393,1360,5000,1965,Winter,0.866667,6.040
4,1954400510,510000.0,3,2.00,1680,8.997147,8080,1.0,0.0,0.0,...,8,98074,47.6168,-122.045,1800,7503,1987,Winter,0.000000,5.100

In [17]:
df['long_lat'] = list(zip(df['long'], df['lat']))

In [18]:
df.head()

,id,price,bedrooms,bathrooms,sqft_living,log_lot,sqft_lot,floors,waterfront,view,...,zipcode,lat,long,sqft_living15,sqft_lot15,yr_of_last_update,season_sold,below_ground_ratio,price_100k,long_lat
0,7129300520,221900.0,3,1.00,1180,8.639411,5650,1.0,0.0,0.0,...,98178,47.5112,-122.257,1340,5650,1955,Fall,0.000000,2.219,"(-122.257, 47.5112)"
1,6414100192,538000.0,3,2.25,2570,8.887653,7242,2.0,0.0,0.0,...,98125,47.7210,-122.319,1690,7639,1991,Winter,0.184332,5.380,"(-122.319, 47.721000000000004)"
2,5631500400,180000.0,2,1.00,770,9.210340,10000,1.0,0.0,0.0,...,98028,47.7379,-122.233,2720,8062,1933,Winter,0.000000,1.800,"(-122.23299999999999, 47.7379)"
3,2487200875,604000.0,4,3.00,1960,8.517193,5000,1.0,0.0,0.0,...,98136,47.5208,-122.393,1360,5000,1965,Winter,0.866667,6.040,"(-122.39299999999999, 47.5208)"
4,1954400510,510000.0,3,2.00,1680,8.997147,8080,1.0,0.0,0.0,...,98074,47.6168,-122.045,1800,7503,1987,Winter,0.000000,5.100,"(-122.045, 47.6168)"

In [19]:
import shapefile
from shapely.geometry import Point # Point class
from shapely.geometry import shape # shape() is a function to convert geo objects through the interface


shp = shapefile.Reader('School_Districts_in_King_County___schdst_area.shp') #open the shapefile
all_shapes = shp.shapes() # get all the polygons
all_records = shp.records()

#Create Numpy array to hold district names
# district_array = np.empty([df.shape[0], ], dtype="S20")
district_df = pd.DataFrame(index=np.arange(df.shape[0]), columns=['district'])


for x in range(df.shape[0]):
    point = df.iloc[x, 21] # an x,y tuple
    for i in range(len(all_shapes)):
        boundary = all_shapes[i] # get a boundary polygon
        if Point(point).within(shape(boundary)): # make a point and see if it's in the polygon
           name = all_records[i][2] # get the second field of the corresponding record
           district_df.iloc[x, 0] = name
        else:
            district_df.iloc[x, 0] = 'blank'

In [38]:
df.shape

(21374, 22)

In [39]:
district_df.shape

(21374, 1)

In [42]:
new_df = df.reset_index(drop=True)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21374 entries, 0 to 21373
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  21374 non-null  int64
 1   price               21374 non-null  float64
 2   bedrooms            21374 non-null  int64
 3   bathrooms           21374 non-null  float64
 4   sqft_living         21374 non-null  int64
 5   log_lot             21374 non-null  float64
 6   sqft_lot            21374 non-null  int64
 7   floors              21374 non-null  float64
 8   waterfront          21374 non-null  float64
 9   view                21374 non-null  float64
 10  condition           21374 non-null  int64
 11  grade               21374 non-null  int64
 12  zipcode             21374 non-null  int64
 13  lat                 21374 non-null  float64
 14  long                21374 non-null  float64
 15  sqft_living15       21374 non-null  int64
 16  sqft_lot15          21374 non-null  int64
 17  yr_of_last_update   21374 non-null  int64
 18  season_sold         21374 non-null  object
 19  below_ground_ratio  21374 non-null  float64
 20  price_100k          21374 non-null  float64
 21  long_lat            21374 non-null  object
dtypes: float64(10), int64(10), object(2)
memory usage: 3.6+ MB

## Merge in List of Districts

In [43]:
master_df = pd.concat([new_df, district_df], axis=1)
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21374 entries, 0 to 21373
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  21374 non-null  int64
 1   price               21374 non-null  float64
 2   bedrooms            21374 non-null  int64
 3   bathrooms           21374 non-null  float64
 4   sqft_living         21374 non-null  int64
 5   log_lot             21374 non-null  float64
 6   sqft_lot            21374 non-null  int64
 7   floors              21374 non-null  float64
 8   waterfront          21374 non-null  float64
 9   view                21374 non-null  float64
 10  condition           21374 non-null  int64
 11  grade               21374 non-null  int64
 12  zipcode             21374 non-null  int64
 13  lat                 21374 non-null  float64
 14  long                21374 non-null  float64
 15  sqft_living15       21374 non-null  int64
 16  sqft_lot15          21374 non-null  int64
 17  yr_of_last_update   21374 non-null  int64
 18  season_sold         21374 non-null  object
 19  below_ground_ratio  21374 non-null  float64
 20  price_100k          21374 non-null  float64
 21  long_lat            21374 non-null  object
 22  district            21368 non-null  object
dtypes: float64(10), int64(10), object(3)
memory usage: 3.8+ MB

In [47]:
#Couldn't find district for 6 houses.  Remove them.
to_drop = master_df.loc[(master_df['district'].isna())]
master_df.drop(to_drop.index, axis = 0, inplace = True)

In [109]:
master_df

,id,price,bedrooms,bathrooms,sqft_living,log_lot,sqft_lot,floors,waterfront,view,...,long,sqft_living15,sqft_lot15,yr_of_last_update,season_sold,below_ground_ratio,price_100k,long_lat,district,is_seattle
0,7129300520,221900.0,3,1.00,1180,8.639411,5650,1.0,0.0,0.0,...,-122.257,1340,5650,1955,Fall,0.000000,2.21900,"(-122.257, 47.5112)",Seattle,1.0
1,6414100192,538000.0,3,2.25,2570,8.887653,7242,2.0,0.0,0.0,...,-122.319,1690,7639,1991,Winter,0.184332,5.38000,"(-122.319, 47.721000000000004)",Seattle,1.0
2,5631500400,180000.0,2,1.00,770,9.210340,10000,1.0,0.0,0.0,...,-122.233,2720,8062,1933,Winter,0.000000,1.80000,"(-122.23299999999999, 47.7379)",Northshore,0.0
3,2487200875,604000.0,4,3.00,1960,8.517193,5000,1.0,0.0,0.0,...,-122.393,1360,5000,1965,Winter,0.866667,6.04000,"(-122.39299999999999, 47.5208)",Seattle,1.0
4,1954400510,510000.0,3,2.00,1680,8.997147,8080,1.0,0.0,0.0,...,-122.045,1800,7503,1987,Winter,0.000000,5.10000,"(-122.045, 47.6168)",Lake Washington,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21369,263000018,360000.0,3,2.50,1530,7.030857,1131,3.0,0.0,0.0,...,-122.346,1530,1509,2009,Spring,0.000000,3.60000,"(-122.346, 47.6993)",Seattle,1.0
21370,6600060120,400000.0,4,2.50,2310,8.667852,5813,2.0,0.0,0.0,...,-122.362,1830,7200,2014,Winter,0.000000,4.00000,"(-122.36200000000001, 47.5107)",Highline,0.0
21371,1523300141,402101.0,2,0.75,1020,7.207860,1350,2.0,0.0,0.0,...,-122.299,1020,2007,2009,Summer,0.000000,4.02101,"(-122.29899999999999, 47.5944)",Seattle,1.0
21372,291310100,400000.0,3,2.50,1600,7.778211,2388,2.0,0.0,0.0,...,-122.069,1410,1287,2004,Winter,0.000000,4.00000,"(-122.069, 47.5345)",Issaquah,0.0
21373,1523300157,325000.0,2,0.75,1020,6.981006,1076,2.0,0.0,0.0,...,-122.299,1020,1357,2008,Fall,0.000000,3.25000,"(-122.29899999999999, 47.5941)",Seattle,1.0

## Create is_seattle

Below Shows One Method That Uses Zipcodes.  This is not efficient b/c zipcodes are not neatly contained in the Seattle city borders.  Instead will use the Seattle school district data, which is more exact

In [89]:
# seattle_zips = [98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98111, 98112, 98113, 98114, 98115, 98116, 98117, 98118, 98119, 98121, 98122, 98124, 98125, 98126, 98127, 98129, 98131, 98133, 98134, 98136, 98138, 98139, 98141, 98144, 98145, 98146, 98148, 98154, 98155, 98158, 98160, 98161, 98164, 98165, 98166, 98168, 98170, 98174, 98175, 98177, 98178, 98181, 98185, 98188, 98190, 98191, 98194, 98195, 98198, 98199]
# seattle_zips = [str(i) for i in seattle_zips]
# seattle_zips_str = '98101, 98102, 98103, 98104, 98105, 98106, 98107, 98108, 98109, 98111, 98112, 98113, 98114, 98115, 98116, 98117, 98118, 98119, 98121, 98122, 98124, 98125, 98126, 98127, 98129, 98131, 98133, 98134, 98136, 98138, 98139, 98141, 98144, 98145, 98146, 98148, 98154, 98155, 98158, 98160, 98161, 98164, 98165, 98166, 98168, 98170, 98174, 98175, 98177, 98178, 98181, 98185, 98188, 98190, 98191, 98194, 98195, 98198, 98199'
# seattle_zips_str = seattle_zips_str.replace(', ', '|')
# seattle_zips_str

'98101|98102|98103|98104|98105|98106|98107|98108|98109|98111|98112|98113|98114|98115|98116|98117|98118|98119|98121|98122|98124|98125|98126|98127|98129|98131|98133|98134|98136|98138|98139|98141|98144|98145|98146|98148|98154|98155|98158|98160|98161|98164|98165|98166|98168|98170|98174|98175|98177|98178|98181|98185|98188|98190|98191|98194|98195|98198|98199'

In [90]:
# master_df['zipcode'] = master_df['zipcode'].astype(str)

In [104]:
# master_df.drop('is_seattle', axis=1, inplace=True)
# master_df.loc[master_df['zipcode'].str.contains('98101|98102|98103|98104|98105|98106|98107|98108|98109|98111|98112|98113|98114|98115|98116|98117|98118|98119|98121|98122|98124|98125|98126|98127|98129|98131|98133|98134|98136|98138|98139|98141|98144|98145|98146|98148|98154|98155|98158|98160|98161|98164|98165|98166|98168|98170|98174|98175|98177|98178|98181|98185|98188|98190|98191|98194|98195|98198|98199'),'is_seattle'] = 1

In [97]:
# master_df['is_seattle'].fillna(0, inplace=True)

Method Using School District Data - Assumes we know user location

In [107]:
master_df.loc[master_df['district'] == 'Seattle', 'is_seattle'] = 1
master_df['is_seattle'].fillna(0, inplace=True)

In [110]:
master_df['is_seattle'].value_counts()

0.0    14693
1.0     6675
Name: is_seattle, dtype: int64

## Drop vars and save file

In [111]:
master_df = master_df.drop(['price', 'sqft_living15', 'sqft_lot15', 'view'], axis=1)

In [112]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21368 entries, 0 to 21373
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  21368 non-null  int64
 1   bedrooms            21368 non-null  int64
 2   bathrooms           21368 non-null  float64
 3   sqft_living         21368 non-null  int64
 4   log_lot             21368 non-null  float64
 5   sqft_lot            21368 non-null  int64
 6   floors              21368 non-null  float64
 7   waterfront          21368 non-null  float64
 8   condition           21368 non-null  int64
 9   grade               21368 non-null  int64
 10  zipcode             21368 non-null  object
 11  lat                 21368 non-null  float64
 12  long                21368 non-null  float64
 13  yr_of_last_update   21368 non-null  int64
 14  season_sold         21368 non-null  object
 15  below_ground_ratio  21368 non-null  float64
 16  price_100k          21368 non-null  float64
 17  long_lat            21368 non-null  object
 18  district            21368 non-null  object
 19  is_seattle          21368 non-null  float64
dtypes: float64(9), int64(7), object(4)
memory usage: 4.0+ MB

In [113]:
master_df.to_csv(path_or_buf='Master_Data_Table_v2.csv')

## Split Train and Test

In [114]:
## import
from sklearn.model_selection import train_test_split
# Split Master DF
train_set, test_set = train_test_split(master_df, test_size=0.2, random_state=13)

## Save Train vs Test csv Files

In [115]:
train_set.to_csv(path_or_buf='Train_Table.csv')

In [116]:
test_set.to_csv(path_or_buf='Test_Table.csv')